<!DOCTYPE html>
<html>
    <head>
        <title>www.template.com</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/fontawesome-all.min.css" rel="stylesheet"> 
        <link href="css/main.css" rel="stylesheet">
</head>
        <body>
            <div class="container">
                <div class="row  nav navbar fixed-top">
                    
                    <div class="col-md-12">
                        <ul class="nav justify-content-center">
                            <li class=" nav-item"><a class='nav-link active'href="#">Home</a></li>
                            <li class='nav-item'><a class='nav-link'href="#">About Us</a></li>
                            <li class='nav-item'><a class='nav-link'href="#">Services</a></li>
                            <li class='nav-item'><a class='nav-link'href="#">Contact</a></li>
                            <li class='nav-item'><a class='nav-link'href="#">External</a></li>
                        </ul> 
                    </div>
                
                </div><!---end of nav row-->
            </div><!--nav-container-->

            {{{body}}}

            
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h6>Use it Free!</h6>
                                <p class="pf">Free template for Art & Tech design, Designed 
                                and built with all the love in the world</p>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div><!--sub-footeer-text-->

                <div class="row"><!--footr-->
                  <div class="col-md-12"><hr>
                    <div class="page-footer">
                        <div class="footer-copyright py-3 text-center">
                            <p class="fp">Copyright &copy 2018 makx | Design: <a href="#">tech template</a> </p>
                        </div>
                    </div>
                  </div>  
                </div><!---footer-rw-->

            </div><!---end of container-->




            <script src="js/jquery-3.2.1.slim.min.js"></script>
            <script src="js/popper.min.js"></script>        
            <script src="js/bootstrap.min.js"></script>
        </body>
    </head>
</html>