
            <div class="container"><!---image-content-->
                <div class="row" id="push">
                
                    <div class="col-md-12">
                        <div>
                            <img src="/images/pex.jpeg" class='img-fluid'  id="surf">
                        </div>
                        <div id="conq">
                            <h1>CONQUER</h1>
                            <P class="p1">Live simply Explore more!</P>
                        </div>
                    </div>
                
                    <div class="col-md-1">

                    </div> 
                </div><!---end of image row-->
                <div class="container">
                    <div class="row" id="push">
                        
                        <!-- <div class="col-md-12"> -->
                            <!-- <div class="row"> -->
                                <div class="col-md-4 text-center">
                                    <div class="card border-success" style="width:20rem;">
                                        <div class="card-block">
                                            <div>
                                                <img src="/images/rw1-3.jpg">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">Reliability</h5>
                                                <p class="card-text">Cards support a wide variety of content, including images, text,
                                                    list groups, links, and more. Below are examples of what’s supported.</p>
                                                <a href="#" class="btn btn-success">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!---col-1-->

                                    <div class="col-md-4 text-center">
                                        <div class="card border-primary" style="width:20rem;">
                                            <div class="card-block">
                                                <div>
                                                    <img src="/images/rw2-3.jpg">
                                                </div>
                                                <div class="card-body">
                                                        <h5 class="card-title">Integrity</h5>
                                                        <p class="card-text">Cards support a wide variety of content, including images, text,
                                                            list groups, links, and more. Below are examples of what’s supported.</p>
                                                        <a href="#" class="btn btn-primary">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!---col-2-->

                                    <div class="col-md-4 text-center">
                                        <div class="card border-danger" style="width:20rem;">
                                            <div class="card-block">
                                                <div>
                                                    <img src="/images/rw3-3.jpg">
                                                </div>
                                                <div class="card-body">
                                                        <h5 class="card-title">Perfomance</h5>
                                                        <p class="card-text">Cards support a wide variety of content, including images, text,
                                                            list groups, links, and more. Below are examples of what’s supported.</p>
                                                        <a href="#" class="btn btn-danger">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!---col-3-->
                                
                            </div><!---inside  card row1-->
                    <!-- </div> -->
                        
                    <!--- </div>    end of row3 split-->
                </div><!---card 1 cont-->
                <div class="row" id="push">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <div class="card" style="height:38rem;">
                                    <div class="card-block">
                                        <div>
                                            <img src="/images/hom2.jpg" width='539px'>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Explore</h5>
                                            <p class="card-text">For the first time in history, we humans live in two worlds: the physical world of objects, and
                                                the digital world of websites, apps, and videogames. We may still call the physical world "the
                                                real world," but that's just a figure of speech: the digital world is no less "real" than the
                                                physical world, just</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="card" style="height:38rem;">
                                    <div class="card-block">
                                        <div>
                                            <img src="/images/hom1.jpg" width='539px';>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Research</h5>
                                            <p class="card-text">For the first time in history, we humans live in two worlds: the physical world of objects, and
                                                the digital world of websites, apps, and videogames. We may still call the physical world "the
                                                real world," but that's just a figure of speech: the digital world is no less "real" than the
                                                physical world, just</p>
                                            <a href="#" class="btn btn-outline-dark">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!---row 4 doub-cards-->

                <div class="row" id="push">
                        <div class="col-md-4 text-center">
                            <div class="card" style="width:100%; height:26rem;">
                                <div class="card-block">
                                    <div>
                                        <img src="/images/imgt3.jpg" width="350px">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Imagining:</h5>
                                        <p class="card-text">Creativity is at the core of hacking, ideally with an attitude of fun and
                                            playfulness.</p>
                                        <a href="#" class="btn btn-outline-secondary">Read it</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="card" style="width:100%; height:26rem">
                                <div class="card-block">
                                    <div>
                                        <img src="/images/imgt4.jpg" width="350px">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Analyzing:</h5>
                                        <p class="card-text">We look at an existing piece of technology, and figure out how it works. If
                                            we're hacking a remote control, for example, we might learn all about its programming
                                            codes or circuitry.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="card" style="width:100%; height:26rem;">
                                <div class="card-block">
                                    <div>
                                        <img src="/images/imgt.jpg" width="350px">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Reprogramming:</h5>
                                        <p class="card-text">Approaching your mind with that same geeky mix of curiosity and craving, that spirit of
                                            conquering and completion, is what we're after. Remember that feeling; it is your fuel.</p>
                                        <a href="#" class="btn btn-outline-secondary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div><!--multi-cards-->
                
                <div class="row" id="push">
                    
                    <div class="col-md-12 text-center py-4">
                        <div class="card" >
                                <img src="/images/surf.jpg" class="card-img-top">
                            
                            <!--<div>
                            </div>-->
                            <div class="card-body">
                                <h5 class="card-title">Free your mind</h5>
                                <p class="card-text">When we think of great explorers like Columbus, Vespucci, and Cousteau, we hold them up
                                    as courageous heroes who conquered the globe. But now the outer world has been
                                    discovered; the next phase is inward, into the mysterious and fathomless reaches of our own
                                    minds. Those of us exploring our own mental potential are the next generation of explorers --
                                    and the best part is, you can join us. But like these explorers, you have to draw a map.
                                    (Magellan didn't go anywhere without a pencil.)</p>
                                <a href="#" class="btn btn-outline-secondary">Read more</a>
                            </div>
                        </div>
                    </div>
                    
                </div><!---img-card-->

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form">
                                    <h4 class="text-center py-4">Contact Form</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Your name</label>
                                            <input type="text" id="defaultFormCardNameEx" class="form-control"><br>
                                                    <!-- Default input email -->
                                            <label for="defaultFormCardEmailEx" class="grey-text font-weight-light">Your email</label>
                                            <input type="email" id="defaultFormCardEmailEx" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                        <label for="defaultFormContactMessageEx" class="grey-text font-weight-light">Your message</label>
                                        <textarea type="text" id="defaultFormContactMessageEx" class="form-control" rows="3"></textarea>
                                                <br>
                                            <button class="btn btn-outline-secondary" type="submit">Send</button>
                                        
                                        </div>
                                    </div><!---form-elemnts-->
                                </div><!---form cloz-->
                            </div>
                           
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div><!---form-rw-->